<div class="inscription">
    <br><br><br><br><br>
    <div class="f-connect">
        <div class="card p-5 bs_perso">
            <div class="text">
                <h1 class="grey-text"> Ma candidature </h1>
                <br><br>
            </div>


            <form #connectForm="ngForm" (ngSubmit)="choixformation(connectForm.value)">
                <label for="">Choisissez votre formation</label>
                <br>
                <select type="array" name="formation" ngModel="">
                    <option>-- Veuillez selectionner une formation --</option>
                    <option *ngFor="let f of formation"> {{ f.nomComplet }}
                    </option>
                    <p class="text-danger">{{ msgErrFormation}}</p>
                </select>
                <br><br>
                <button class="btn btn-block btn-primary" type="submit">Postuler à la formation </button>
            </form>
            <p>{{msgValidation}}</p>


          

            <form #connectForm="ngForm" (ngSubmit)="choixsession(connectForm.value)">
                <label for="">Choisissez votre session de formation</label>
                <br>
                <select type="array" name="session" ngModel="">
                    <option>-- Veuillez selectionner une session --</option>
                    <option *ngFor="let s of session" name="session" ngModel=""> {{ s.session }} </option>
                    <p class="text-danger">{{ msgErrSession }}</p>
                </select>
                <br><br>
                <button class="btn btn-block btn-primary" type="submit">Postuler à la session </button>
            </form>
            <p>{{msgValidation2}}</p>
        
            <button class="btn btn-block btn-primary" type="submit" onClick="location.href='accueilcandidat1'">Retour à
                l'accueil </button>
        </div>
    </div>
    <br>
</div>