<div class="inscription">
    <br><br><br><br><br>
    <div class="f-connect">
        <div class="card p-5 bs_perso">


            <div class="text">
                <h1 class="grey-text"> Inscrivez-vous </h1>
            </div>

            <form #connect="ngForm" (ngSubmit)="inscription(connect.value)">
                <div class="form-group">
                    <label for="" class="grey-text">Nom</label>
                    <input type="text" #nomUsageAction="ngModel" required [(ngModel)]="user.nomUsage" name="nomUsage"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="grey-text">Prénom</label>
                    <input type="text" class="form-control" #prenomAction="ngModel" required [(ngModel)]="user.prenom"
                        name="prenom">
                </div>

                <div class="form-group">
                    <label for="" class="grey-text">Email</label>
                    <input type="text" class="form-control" #mailAction="ngModel" required [(ngModel)]="user.mail"
                        name="mail">
                </div>

                <div class="form-group">
                    <label for="" class="grey-text">Mot de passe</label>
                    <input type="password" class="form-control" #mdpAction="ngModel" required [(ngModel)]="user.mdp"
                        name="mdp">
                </div>
                <div class="form-group">
                    <label for="" class="grey-text">Confirmation du mot de passe</label>
                    <input type="password" #mdpConfirmAction="ngModel" required [(ngModel)]="user.mdpConfirme"
                        name="mdpConfirme" class="form-control">
                </div>
                <button [disabled]="!connect.form.valid" class="btn btn-block btn-primary" type="submit">Créer un
                    compte</button>
                <br><br>
                <div class="text-center">
                    <a class="a2" [routerLink]="['/accueil']"><span>SE CONNECTER ?</span></a>
                </div>
            </form>
            <br>
            <p class="text-center text-danger">{{msgValidation}}</p>
        </div>
    </div>
    <br>
</div>