<div class="container">
</div>
<div class="inscription" id="infoWelcome">
    <br><br><br><br><br>
    <div class="f-connect">
        <div class="card p-5 bs_perso">
            <div class="text">
                <h1>Bienvenue dans votre espace de test </h1>
                <br>
                <h2>Informations</h2>
                <h3>
                Le QCM qu'il va vous être proposé est à temps limité. 
                    <br><br><br>
                    L'équipe d'admission de l'ESIC
                </h3>
            </div>
        </div>
        <br>
        <div class="card p-5 bs_perso">
            <div class="text">
                <br>
                <h2>Informations</h2>
                <h3>
                
                </h3>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <form #connectForm="ngForm" (ngSubmit)="check(connectForm.value)">
            <table class="center" id="customers">
                <tr>
                  <th>Question</th>
                  <th>Choix 1</th>
                  <th>Choix 2</th>
                  <th>Choix 3</th>
                  <th>Choix 4</th>
                  <th>Réponse</th>
                </tr>
                <tr *ngFor="let q of question">
                  <td>{{ q.txt }}</td>
                  <td>{{ q.p1 }}</td>
                  <td>{{ q.p2 }}</td>
                  <td>{{ q.p3 }}</td>
                  <td>{{ q.p4 }}</td>
                  <td><select ngModel="" name="{{q.id}}" class="center">
                      <option>1</option><option>2</option><option>3</option><option>4</option>
                  </select></td>
                  <hr>
                </tr>
              </table>
              <br>
              <button type="submit" class="btn btn-primary btn-block">Valider</button>
        </form>
    </div>
    <br><br>
    <div class="container">
        <p>Résultats : </p>
        <p id="ret">{{ resultat}}</p>
        <br>
    </div>
</div>