<nav class="navbar" id="sidenav">
  <ul class="navbar-nav">
      <div class="menu">
          <ul>
              <div class="item">
              <li> <a routerLink="moncompte-admin">Mon compte</a> </li>
              <hr>
              </div>
              <li><a routerLink="gestion-formation">Gestion Formation</a></li>
              <hr>
              <li><a routerLink="tests">Tests</a></li>
              <hr>
              <li><a routerLink="gestion-entretien">Gestion Entretien</a></li>
              <hr>
              <li><a href="#">Ajouter Conseiller</a></li>
              <hr>
              <li><a routerLink="accueil" (click)="deconnexion()">Déconnexion</a></li>
          </ul>
      </div>
  </ul>
</nav>