.f-connect{
  margin: auto;
  width: 80%;
}

.marge-top-100{
  margin-top: 100px;
}

.bs_perso{
  box-shadow: 0 20px 40px 0 rgba(red, green, blue)
}

.candidature
{
   /* fallback for old browsers */
background: #1f7a73;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(16, 119, 90, 0.5), rgba(43, 62, 73, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(55, 236, 186, 0.5), rgba(114, 175, 211, 0.5));

margin-left: 20%;
position: static;
}

.text_mdp_oublie{
  font-size: small;
}

.text-sinscrire{
  font-size: small;
}

.btn1{
  position: relative;
  text-align: center;
  border: none;
  padding: 10px 8px;
  color: black;
  background: linear-gradient(to right, rgba(55, 209, 236, 0.5), rgba(19, 82, 119, 0.5));
  font-size: larger;
  width: 50%;
  margin: auto;
  box-shadow: 1px 1px #888888;
}

.btn1:hover{
  text-align: center;
  border: none;
  padding: 10px 8px;
  color: black;
  background-color: #b3c9c7;
  font-size: larger;
  width: 50%;
}










h1{
  font-family: 'Roboto';
  font-size: xx-large;
  text-align: center;
  
}


.InformationEsicDocuments{ 
  border: 1px solid rgb(216, 26, 26); padding: 5px; 
  color: red;
  font-style: italic;
  
}

.pid{
  font-weight: bold;

}

.form1{
  display: inline-flex;
}

#niveau {
  width: 100%;
}
#niveau td, #niveau th {
  border: 1px solid #ddd;
  padding: 8px;
}
#niveau tr:nth-child(even){background-color: #f2f2f2;}
#niveau tr:hover {background-color: #ddd;}
#niveau th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #65c4af;
  color: rgb(8, 8, 8);
  text-align: center;
  font-weight: bold;
}
