<!-- Formulaire -->
<div class="candidature">
    <br><br><br><br>

    <div class="f-connect">
        <div class="card p-5 bs_perso">
            <h1>Mes informations </h1>
            <br><br>
            <form #connect="ngForm" (ngSubmit)="candidat(connect.value)">

                <!-- Bouton choix parcours -->
                <div>
                    <input type="radio" id="En continu" name="parcours" value="En continu" ngModel="En continu" checked>
                    <label for="En continu">En continu</label>
                </div>
                <div>
                    <input type="radio" id="Contrat de professionnalisation" name="parcours" value="Contrat de professionnalisation"
                        ngModel="Contrat de professionnalisation" checked>
                    <label for="Contrat de professionnalisation">Contrat de professionnalisation</label>
                </div>
                <div>
                    <input type="radio" id="Contrat d’apprentissage" name="parcours" value="Contrat d’apprentissage" ngModel="Contrat d’apprentissage"
                        checked>
                    <label for="d"> Contrat d’apprentissage</label>
                </div>
                
                
                <!-- FIN Bouton choix parcours -->

                 <!-- Civilité -->
                 <label class="pid">Civilité </label>
                 <div> 
                    <input type="radio" id="Madame" name="Civ" value="Madame" ngModel="true" checked>
                    <label for="Madame">Madame</label>
                 </div>
                 <div> 
                    <input type="radio" id="Monsieur" name="Civ" value="Monsieur" ngModel="true" checked>
                    <label for="Monsieur">Monsieur</label>
                 </div>

                 <!-- FIN Civilité -->

                 

                 <button class="btn btn-block btn-primary" type="submit">Valider mes informations</button>
 



            </form>

        </div>
        <br>
    </div>
</div>