<div>
    <div class="inscription">
        <br>
            <div class="f-connect">
                <div class="card p-5 bs_perso">

                    <div class="text">
                    <h1 class="grey-text"> Ici vous pouvez modifier ... </h1>
                    </div>
                    <br>

                    <form #connect="ngForm" (ngSubmit)="modifier(connect.value)">
                        <div class="form-group">
                            <label for="" class="grey-text">Ancien mot de passe</label>
                            <input type="password" class="form-control" placeholder="Entrez votre ancien mot de passe">
                        </div>

                        <div class="form-group">
                            <label for="" class="grey-text">Nouveau mot de passe</label>
                            <input type="text" class="form-control" placeholder="Entrez votre nouveau mot de passe">
                        </div>

                        <div class="form-group">
                            <label for="" class="grey-text">Confirmation mot de passe</label>
                            <input type="password" class="form-control" placeholder="Confirmez votre nouveau mot de passe">
                        </div>

                        <br>
                        <button type="submit" name="Enregistrer" class="btn btn-block btn-primary" onclick="window.location.href='/home'">Enregistrer</button>
                        <br><br>
                        <button name="Annuler" class="btn btn-block btn-primary" onclick="window.location.href='/home'">Annuler</button>
                    </form>
                </div>
            </div>
            <br>
        </div>
</div>