<div>
    <div id="bodyboy">
        <nav class="navbar" id="sidenav">
            <!-- Links -->
            <ul class="navbar-nav">
                <div class="menu">
                    <p style="color:black; font-size:2em">Tableau de Bord</p>
                    <ul>
                        <div class="item">
                        <!-- If login as admin -->
                        <li class="active"> <a href="moncompte-admin">Mon compte</a> </li>
                        <hr>
                        </div>
                        <li><a href="gestion-formation">Gestion Formation</a></li>
                        <hr>
                        <li><a href="#">Tests</a></li>
                        <hr>
                        <li><a href="#">Gestion Entretien</a></li>
                        <hr>
                        <li><a href="#">Ajouter Conseiller</a></li>
                        <hr>
                        <li><a href="accueil">Déconnexion</a></li>
                    </ul>
                </div>
            </ul>
        </nav>
    </div>
    


    <div class="inscription">
        <br>
            <div class="f-connect">
                <div class="card p-5 bs_perso">

                    <div class="text">
                    <h1 class="grey-text"> Ici vous pouvez modifier ... </h1>
                    </div>
                    <br>


                    <div class="form-group">
                        <label for="" class="grey-text">Ancien mot de passe</label>
                        <input type="password" class="form-control" placeholder="Entrez votre ancien mot de passe">
                    </div>

                    <div class="form-group">
                        <label for="" class="grey-text">Nouveau mot de passe</label>
                        <input type="text" class="form-control" placeholder="Entrez votre nouveau mot de passe">
                    </div>

                    <div class="form-group">
                        <label for="" class="grey-text">Confirmation mot de passe</label>
                        <input type="password" class="form-control" placeholder="Confirmez votre nouveau mot de passe">
                    </div>

                    <br>
                    <button name="Enregistrer" class="btn btn-block btn-primary" onclick="window.location.href='/home'">Enregistrer</button>
                    <button name="Annuler" class="btn btn-block btn-primary" onclick="window.location.href='/home'">Annuler</button>
                    
                    <br>

                </div>
            </div>
            <br>
        </div>
</div>