<div class="accueilcommun">
    <br><br><br><br><br>
        <div class="f-connect">
            <div class="card p-5 bs_perso">

                <div class="text">
                  <h1 class="grey-text"> Bienvenue dans votre espace de candidature </h1>
                </div>
                <div class="container" style="text-align: center;">
                    <div class="row">
                       <div class="col-sm-6">
                        <h6>Espace candidat</h6>
                        <img src="https://toppng.com/uploads/preview/student-registration-icon-listening-icon-11553484862pgnhfwtc7x.png" class="w-50 logo-footer" >

                       </div>
                       <div class="col-sm-6">
                        <h6>Espace administrateur ESIC</h6>

                        <img src="https://icon-library.com/images/system-administrator-icon/system-administrator-icon-18.jpg" class="w-50 logo-footer" >


                       </div>
                    </div>
                 </div>


                 

                
                



            
               
            </div>


        </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</div>


    
