<div class="accueilcommun">
    <br><br><br><br><br>
        <div class="f-connect">
            <div class="card p-5 bs_perso">

                <div class="text">
                  <h1 class="grey-text"> Bienvenue dans votre espace de candidature </h1>
                </div>
                <div class="container" style="text-align: center;">
                    <div class="row">
                       <div class="col-sm-6">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Student_icon.svg" class="w-100 logo-footer" >
                        <br><br>
                        <h6>Espace candidat</h6>
                       </div>
                       <div class="col-sm-6">
                        <img src="" class="w-100 logo-footer" >
                        <br><br>
                        <h6>Espace administrateur ESIC</h6>


                       </div>
                    </div>
                 </div>


                 

                
                



            
               
            </div>


        </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</div>


    
