.page_accueilcommun {
    font-family: "Roboto";
    
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
  letter-spacing: 5px;
}


.wrapper{
    /*position:relative; */
    /*top: 10%; */
    /*left: 50%; */
    transform: translate(30%, 100%);
    
  }
  
  .a2{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;

    
  }
  
  .a2 span{
    position: relative;
    z-index: 2;
  }
  
  .a2:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00a2ff;
    transition: all .35s;
  }
  
  .a2:hover{
    color: #fff;
  }
  
  .a2:hover:after{
    width: 100%;
  }


  

   