<div class="container">
    <table class="center" id="customers">
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Adresse mail</th>
          <th>Formation</th>
          <th>Voir le details de l'inscription</th>
        </tr>
        <tr *ngFor="let c of candidats">
          <td>{{ c.prenom }}</td>
          <td>{{ c.nomUsage }}</td>
          <td>{{ c.mail }}</td>
          <td>{{ c.formation }}</td>
          <td><button (click)="goToDetail(c)" class="btn  pull-right" >Information</button></td>
          <hr>
        </tr>
       
      </table>
</div>