<div>
   <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar" *ngIf="auth.candidatSideNav()">
         <div class="sidebar-header">
            <h3>ESIC-SCHOOL</h3>
            <strong>ESIC</strong>
         </div>
         <ul class="list-unstyled components">
            <li>
               <a routerLink="">
                  <i class="fas fa-home"></i>
                  Home
               </a>
            </li>
            <li>
               <a routerLink="">
                  <i class="fas fa-file-signature"></i>
                  Mes info perso
               </a>
            </li>
            <li>
               <a routerLink="">
                  <i class="far fa-clipboard"></i>
                  Mes documents
               </a>
            </li>
            <li>
               <a routerLink="">
                  <i class="fas fa-calendar-alt"></i>
                  Ma candidature
               </a>
            </li>
            <li>
               <a routerLink="">
                  <i class="fas fa-calendar-alt"></i>
                  Mon compte
               </a>
            </li>
            <li>
               <a routerLink="">
                  <i class="fa fa-user"></i>
                  Mon test
               </a>
               <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-copy"></i>
                  Autres
               </a>
               <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                     <a routerLink="#">MDR</a>
                  </li>
                  <li>
                     <a routerLink="#">Yanis</a>
                  </li>
                  <li>
                     <a routerLink='doccandidat'>document candidat</a>
                  </li>
               </ul>
            </li>
         </ul>
      </nav>
      <nav id="sidebar" *ngIf="auth.adminSideNav()">
         <div class="sidebar-header">
            <h3>ESIC-SCHOOL</h3>
            <strong>ESIC</strong>
         </div>
         <ul class="list-unstyled components">
            <li>
               <a routerLink="home">
                  <i class="fas fa-home"></i>
                  Home
               </a>
            </li>
            <li>
               <a routerLink="gestion-formation/">
                  <i class="fas fa-file-signature"></i>
                  Gestion candidature
               </a>
            </li>
            <li>
               <a routerLink="tests">
                  <i class="far fa-clipboard"></i>
                  Tests
               </a>
            </li>
            <li>
               <a routerLink="gestion-entretien/">
                  <i class="fas fa-calendar-alt"></i>
                  Gestion Entretien
               </a>
            </li>
            <li>
               <a routerLink="moncompte-admin">
                  <i class="fa fa-user"></i>
                  Profile
               </a>
               <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-copy"></i>
                  Autres
               </a>
               <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                     <a routerLink="#">MDR</a>
                  </li>
                  <li>
                     <a routerLink="#">Yanis</a>
                  </li>
                  <li>
                     <a routerLink='doccandidat'>document candidat</a>
                  </li>
               </ul>
            </li>
         </ul>
      </nav>
      <!-- Page Content  -->
      <div class="content">
         <div>
            <nav class="navbar navbar-expand-lg navbar-light w3-bar w3-white w3-padding w3-card" style="margin-bottom: 0;"
            >
            <div class="container-fluid">
               <button type="button" id="sidebarCollapse" class="btn btn-info" >
                  <i class="fas fa-align-left"></i>
                  <span *ngIf="auth.isConnected()">Menu</span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="auth.isConnected()">
                  <ul class="nav navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link white-text" (click)="auth.deconnexion()"><span style="color: tomato;"
                            class="material-icons">
                            power_settings_new
                          </span></a>
                      </li>
                  </ul>
              </div>
            </div>
         </nav>
         </div>
         <router-outlet></router-outlet>
      </div>
   </div>
</div>



<div>
   <footer id="footer" class="container-fluid bg-grey py-5"
      style="background-color: white; position:relative; bottom:0;">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-6 ">
                     <div class="logo-part">
                        <img src="https://esic-online.com/wp-content/uploads/2016/12/logo.png" class="w-50 logo-footer">
                        <br> <br>
                        <p>36 Avenue Pierre Brossolette <br> 92240 Malakoff </p>
                     </div>
                  </div>
                  <div class="col-md-6 px-4">
                     <h6> À propos de l'ESIC</h6>
                     <p>Déclaration d’activité enregistrée sous le numéro 11921550092 auprès du préfet de la région
                        d’Ile-de-France</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-6 px-4">
                     <h6> Retrouvez-nous en ligne</h6>
                     <div class="row" style="text-align: center;">
                        <div class="col-md-6">
                           <p><a href="https://www.esic.fr/"> www.esic.fr </a> </p>

                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 ">
                     <h6> Contact </h6>
                     <div class="social">
                        <p> <i class="fas fa-envelope me-3"></i> info@esic.fr</p>
                        <p><i class="fas fa-phone me-3"></i> 01 53 90 15 20</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</div>