<div class="container">
    <p>{{ msgBienvenue }}</p>
</div>

<div class="inscription">
    <br><br><br><br><br>
    <div class="f-connect">
        <div class="card p-5 bs_perso">


            <div class="text">
                <h1>Bienvenue dans votre espace personnel de candidature</h1>
                <br>
                <h2>Chers candidats</h2>
                <h3>
                    Vous êtes connectés à votre espace personnel de gestion de candidature.
                    Merci de renseigner vos informations personnelles afin de pouvoir postuler à nos sessions de formation.
                    <br><br><br>
                    L'équipe d'admission de l'ESIC
                </h3>
            </div>
          
        </div>
    </div>
    <br>
</div>