<div class="">   
<!-- Formulaire -->
    <div class="inscription">
        <br><br><br><br>
            <div class="f-connect">
                <div class="card p-5 bs_perso" >

                    <h1>Mes documents</h1>
                    <br><br>
                    <div class="InformationEsicDocuments">
                        Information ESIC
                        <br>
                        Merci d'ajouter vos documents en format pdf
                    </div>

                    <br><br>
                    <label class="pid">Copie recto verso de la pièce d’identité,ou titre de séjour, en cours de validité</label>
                    <hr>
                    <input type="file"
                        id="pieceid" name="pieceid"
                        accept="image/x-png,image/gif,image/jpeg">
                    <hr>
                    <label class="pid">Curriculum vitae</label>
                    <input type="file"
                        id="cv" name="cv"
                        accept="image/x-png,image/gif,image/jpeg">
                    <hr>
                    <label class="pid">Lettre de motivation</label>
                    <input type="file"
                        id="lm" name="lm"
                        accept="image/x-png,image/gif,image/jpeg">
                    <hr>
                    <label class="pid">Copie du dernier diplôme obtenu  
                        (ou attestation de comparabilité pour les diplômes étrangers)  </label>
                    <input type="file"
                        id="ddo" name="ddo"
                        accept="image/x-png,image/gif,image/jpeg">
                    <hr>
                    <label class="pid">Relevés de notes de la dernière année d’étude</label>
                    <input type="file"
                        id="rn" name="rn"
                        accept="image/x-png,image/gif,image/jpeg">
                    <hr>
                    <label class="pid">Fiche travailleur handicapé (optionnel)</label>
                    <input type="file"
                        id="handi" name="handi"
                        accept="image/x-png,image/gif,image/jpeg">
                    <br><br><br>
                    <label class="pid">Avez-vous des informations complémentaires à nous communiquer ?</label>
                    <textarea id="story" name="commentaire" rows="5" cols="33">
                    </textarea>
                    <br>
                    <button name="Enregistrer" class="btn1" onclick="window.location.href='/home'">Soumettre mes documents</button>
                    
                    <br>

                </div>
            </div>
            <br>
        </div>




  




    
