<!-- Info formations -->
<div class="container mt-5 mlr-15">
    <div class="row fs">
        <div class="col-sm-6" style="text-align: center;" *ngFor="let f of formations">
            <div class="card p-2">
                <button style="border: none;" (click)="afficherCacher(f.id)">
                    <p class="my-font">
                        Formation : <br>{{ f.nivCertif }}
                    </p>
                </button>
                <div class="info" id="info{{f.id}}" hidden> <br>
                    <p>Niveau de certification : {{ f.nivCertif }} </p> <br>
                    <p>Intitulé de la formation : {{ f.intitule }} </p> <br>
                    <button class="btn btn-blue-grey btn-sm" (click)="showModify(f.id)">Modifier la formation</button>
                    <br><br>
                    <div class="modifFormation" id="{{f.id}}" hidden>
                        <!-- Modification formation -->
                        <form #connectFormulair="ngForm" (ngSubmit)="modifyFormation(connectFormulair.value)"
                            style="margin: auto; width: 80%;">
                            <div class="form-group" hidden>
                                <label for="" class="text-secondary">id de la formation</label>
                                <input type="text" class="form-control" name="id" ngModel="{{ f.id }}">
                            </div>
                            <div class="form-group">
                                <label for="" class="text-secondary">Nom de la formation</label>
                                <input type="text" class="form-control w3-text-brown" name="nomComplet"
                                    ngModel="{{ f.nomComplet }}">
                            </div>
                            <div class="form-group">
                                <label for="" class="text-secondary">Intitulé de la formation</label>
                                <input type="text" class="form-control w3-text-deep-purple" name="intitule"
                                    ngModel="{{ f.intitule }}">
                            </div>
                            <div class="form-group">
                                <label for="" class="text-secondary">Niveau de certification requis</label>
                                <input type="text" class="form-control w3-text-indigo" name="nivCertif"
                                    ngModel="{{ f.nivCertif}}">
                            </div>
                            <button class="btn btn-primary btn-sm" type="submit"> Modifier </button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="modifyCancel(f.id)">Annuler</button>
                        </form> <br>
                    </div> <br>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
    
    
    <div class="d-flex justify-content-center">
        <button mat-fab color="primary" (click)="ajoutShow()" aria-label="Example icon button with a delete icon">
            <mat-icon>add</mat-icon>
          </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-fab color="warn" (click)="deleteShow()" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        
    </div>

    <!-- Suppression formation-->
    <div class="container text-center p-5 " id="delete" hidden>
        <form #connectForm="ngForm" (ngSubmit)="deleteFormation(connectForm.value)">
            <select class="text-center" ngModel="" name="intitule">
                <option *ngFor="let f of formations">{{ f.intitule }}</option>
            </select>
            <p></p>
            <br>
            <button type="submit" class="btn btn-primary btn-block" (click)="deleteHide()">Valider</button>
        </form>
        <br>
        <button type="submit" class="btn btn-primary btn-block" (click)="cancelDelete()">Annuler</button>
    </div>

    <!-- Ajout formation-->
    <div class="container" id="ajout" hidden>
        <form #connect="ngForm" (ngSubmit)="createFormation(connect.value)">
            <div class="form-group">
                <label for="" class="text-secondary">Nom de la formation</label>
                <input type="text" class="form-control" name="nomComplet" ngModel="">
            </div>
            <div class="form-group">
                <label for="" class="text-secondary">Intitulé de la formation</label>
                <input type="text" class="form-control" name="intitule" ngModel="">
            </div>
            <div class="form-group">
                <label for="" class="text-secondary">Niveau de certification requis</label>
                <input type="text" class="form-control" name="nivCertif" ngModel="">
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block" (click)="ajoutHide()">Créer</button> <br><br>
        </form>
        <button class="btn btn-primary btn-block" (click)="cancelAjout()">Annuler</button>
    </div>
</div>
<br>
