<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6" style="text-align: center;" *ngFor="let f of formations">
            <div class="card">
                <button style="border: none;" (click)="afficherCacher(f.id)">
                    <p class="my-font">
                        id de la formation : {{ f.id }}
                    </p>
                </button>
                <p id="info{{f.id}}" hidden>
                    Niveau de certification : {{ f.nivCertif }}
                </p>
            </div>
            <br>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center my-font">
        <button type="button" class="btn btn-success font-size">Ajouter une formation</button>
        <button type="button" class="btn btn-danger font-size" disabled>Supprimer une formation</button>
    </div>
</div>