.my-font{
    /*font-family: 'Brush Script MT', cursive;*/
    font-size: 2em;
}
.font-size{
    font-size: 5vh;
}

.fs{
    font-size: 1vh;
}

.mt-5{
    margin-top: 5%;;
}

.mlr-15{
    padding-left: 15%;
    padding-right: 15%;
}

.p-5{
    padding : 5%;
}

.modifFormation{
    font-size: 1vh;
}

.info{
    font-size: 2vh;
}


.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .patate {
      width: 200px;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background: green;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
      background: green;
      margin:1%;
  }
  
  .patate, .patate span {
      transition: 200ms;
  }
  
  .patate .text {
      transform: translateX(35px);
      color: white;
      font-weight: bold;
  }
  
  .patate .icon {
      position: absolute;
      border-left: 1px solid #c41b1b;
      transform: translateX(150px);
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .patate svg {
      width: 15px;
      fill: #eee;
  }
  
  .patate:hover {
      background: green;
  }

  #button:hover{
    background: #ff3636;
  }
  
  .patate:hover .text {
      color: transparent;
  }
  
  .patate:hover .icon {
      width: 150px;
      border-left: none;
      transform: translateX(0);
  }
  
  .patate:focus {
      outline: none;
  }