<div class="container pos">
    <div class="my-font ptb-3 plr-5">
        <form #connect="ngForm" (ngSubmit)="envoi(connect.value)">
            <hr>
            <div>
                <label for="" class="text-secondary">Liste des candidats</label>
                <br>
                <select ngModel="" name="destinataire">
                    <option>-- Veuillez sélectionner un candidat --</option>
                    <option *ngFor="let c of candidats" name="nom" name="prenom"> {{ c.nomUsage }} {{ c.prenom }} </option>
                    <p class="text-danger">{{ msgErrCandidat }}</p>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="" class="text-secondary">Objet</label>
                <input type="text" class="form-control" name="objet" ngModel="Entretien candidature">
            </div>
            <div class="form-group">
                <label for="" class="text-secondary">Lien de la réunion Teams</label>
                <input type="text" class="form-control" name="lien" ngModel="">
            </div>
            <div class="form-group">
                <label for="" class="text-secondary">Commentaire (optionnel)</label>
                <input type="text" class="form-control" name="message" ngModel="">
            </div>
            <hr>
            <button type="submit" class="btn btn-primary btn-block">Envoyer la demande</button>
        </form>
        <p class="text-danger text-center">{{ msgValidation }}</p>
        <p class="text-danger text-center">{{ msgErr }}</p>
    </div>
</div>