<div id="sidebar">
    <img src="" alt="logo">
    <div id="menu" class="container mt-3" style="margin-left: 0%;">
        <ul class="nav flex-column">
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="#">Mon Compte</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" href="#">Gestion Candidatures</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" href="#">Tests</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" href="#">Gestion Entretien</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" href="#">Ajouter conseiller</a>
            </li>
        </ul>
    </div>
    <a href="#" class="footer" style="position:fixed; bottom: 5%; margin-left: 1%;">Déconnexion</a>
</div>