<div class="accueil">
    <br><br><br><br><br>
        <div class="f-connect">
            <div class="card p-5 bs_perso">

                <div class="text">
                  <h1 class="grey-text"> Connectez-vous </h1>
                </div>
                <br>

                <div class="form-group">
                    <label for="" class="grey-text">Email</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="" class="grey-text">Mot de passe</label>
                    <input type="password" class="form-control">
                </div>
                <br>
                <button class="btn btn-block btn-primary">Se connecter</button>
                
                <br>
                <div class="text_mdp_oublie" style="text-align: center;">
                    <label for="" class="grey-text" style="text-align: center">Mot de passe oublié ?</label>
                    <a href="#" class="btn-footer"> cliquez ici </a><br>
                </div>

                <div class="text-sinscrire" style="text-align: center;">
                    <label for="" class="grey-text">Vous n'avez pas de compte ?</label>
                    <a href='/inscription' class="btn-footer"> cliquez ici </a><br>
                </div>
            </div>
             
        </div>
 
    <br><br><br><br><br><br><br><br><br><br><br><br>










    






</div>
    
